.react-logo{
	display: block;
	margin: 6px auto;   /* centre horizontalement */
	max-height: 90px;
	width: auto;
}

.vdom-schema{
	display: block;
	margin: 0 auto !important;   /* 0 au-dessus / dessous */
	padding: 0 !important;
	line-height: 0;              /* évite un “gap” résiduel */
}